In [2]:
import pandas as pd
import pymysql
import numpy as np

In [3]:
users = pd.read_csv('main/BX-CSV-Dump/BX-Users.csv', sep=';', quotechar="\"", escapechar="\\", encoding='latin_1')
books = pd.read_csv('main/BX-CSV-Dump/BX-Books.csv',  sep=';', quotechar="\"", escapechar="\\", encoding='latin_1')
book_ratings = pd.read_csv('main/BX-CSV-Dump/BX-Book-Ratings.csv', sep=';', quotechar='\"', escapechar='\\', encoding='latin_1')

In [34]:
db = pymysql.connect('localhost', 'root', 'password', 'books_recommend',charset='utf8')
cursor = db.cursor()

In [35]:
for i in range(0, users.shape[0]):
    user = users.loc[i]
    sql = 'insert into main_user(id, name, location, age) values(%s, %s, %s, %s)'
    try:
        cursor.execute(sql, (str(user['User-ID']), 
                             'user of ' + str(user['User-ID']),
                             user['Location'] if not pd.isnull(user['Location']) else 'default',
                             str(np.nan_to_num(user['Age'], -1))))
        db.commit()
    except Error:
        print(Error)

In [20]:
cursor.close()
db.close()

In [4]:
book_ratings.tail()

         User-ID         ISBN  Book-Rating
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

In [26]:
user = users.loc[1]

In [36]:
user

User-ID                   278858
Location    dublin, n/a, ireland
Age                          NaN
Name: 278857, dtype: object

In [31]:
str(user['Age'])

'18.0'