In [1]:
import pandas as pd
import pymysql
import numpy as np

In [2]:
users = pd.read_csv('main/BX-CSV-Dump/BX-Users.csv', sep=';', quotechar="\"", escapechar="\\", encoding='latin_1')
books = pd.read_csv('main/BX-CSV-Dump/BX-Books.csv',  sep=';', quotechar="\"", escapechar="\\", encoding='latin_1')
book_ratings = pd.read_csv('main/BX-CSV-Dump/BX-Book-Ratings.csv', sep=';', quotechar='\"', escapechar='\\', encoding='latin_1')

In [3]:
db = pymysql.connect('192.168.231.1', 'root', 'password', 'books_recommend',charset='utf8')
cursor = db.cursor()

In [ ]:
count = 0
for i in range(0, users.shape[0]):
    user = users.loc[i]
    sql = 'insert into main_user(id, name, location, age) values(%s, %s, %s, %s)'
    count += 1
    try:
        cursor.execute(sql, (str(user['User-ID']), 
                             'user of ' + str(user['User-ID']),
                             user['Location'] if not pd.isnull(user['Location']) else 'default',
                             str(np.nan_to_num(user['Age'], -1))))
        db.commit()
        if count % 10000 == 0:
            print("sent " + str(count))
    except Error:
        print(Error)

In [19]:
cursor.close()
db.close()

Error: Already closed

In [20]:
users.tail()

        User-ID                            Location   Age
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

In [21]:
user = users.loc[1]

In [22]:
user

User-ID                             2
Location    stockton, california, usa
Age                                18
Name: 1, dtype: object

In [23]:
str(user['Age'])

'18.0'